#selectedDataGrid
{
    width: 90%;
    margin: auto;
    background-color: gray;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
}
.element
{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}
.titleData
{
    color: black;
    font-size: 40px;
    font-weight: bold;
}
.userData
{
    font-size: 30px;
    background-color: white;
    border-radius: 20px;
    width:fit-content;
    padding: 15px;
    margin: auto;
    border: 2px solid black;
    font-weight: normal;
}
.dateInput
{
    display: inline-block;
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    margin-right: 30px;
    margin-bottom: 5px;
    border: 2px solid black;
    font-weight: normal;
    text-align: center;
}
.dateWord
{
    width: 30%;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    text-align: left;
}