body {
    background-color: rgb(33, 33, 33);
}

.error {
    color: red;
}

.divGrid
{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

.inputFieldGrid
{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50%;
}

#form
{
    background-color: rgb(228, 224, 235);
    border-radius: 20px;
    padding: 20px;
    min-width: fit-content;
    margin: 5%;
}

.formEntry
{
    background-color: rgb(150, 155, 210);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    outline: none;
    color: rgb(228, 224, 235);
    font-size: 20px;
}

#formSubmit
{
    width: 60%;
    height: 60%;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    font-size: 30px;
    border-radius: 30px;
    border: 1px solid black;
    color: black;
}